.advantages {

  &__title {
    font-size: 40px;
    font-weight: 900;
    color: #3A3A3A;
    margin-top: 95px;
    margin-bottom: 33px;
  }

  &__blocks {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column: auto;
  }

  &__item {

  }
}
