.faq {
  background-color: #F8F8F8;

  .container {
    padding-bottom: 75px;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 30px;
    padding-top: 75px;
    font-weight: 900;
    font-size: 30px;
    text-align: center;
    color: #262626;

    @media(min-width: 768px) {
      font-size: 40px;
    }
  }

  &__item {
    background-color: #FFFFFF;
    border-radius: 10px;

  }

  &__question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    margin-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 700;
    font-size: 24px;
    color: #262626;
    cursor: pointer;

    &:hover {
      color: #2B276F;
    }

    &:active {
      color: #CAC9DB;
    }
  }

  &__open {
    margin-right: 30px;
    margin-left: 30px;
    transform: rotate(0deg);

    &-1 {
      &--active {
        transform: rotate(180deg);
        animation-name: spin;
        animation-duration: 1s;
      }
    }

    &-2 {
      &--active {
        transform: rotate(180deg);
        animation-name: spin;
        animation-duration: 1s;
      }
    }

    &-3 {
      &--active {
        transform: rotate(180deg);
        animation-name: spin;
        animation-duration: 1s;
      }
    }

    &-4 {
      &--active {
        transform: rotate(180deg);
        animation-name: spin;
        animation-duration: 1s;
      }
    }

    &-5 {
      &--active {
        transform: rotate(180deg);
        animation-name: spin;
        animation-duration: 1s;
      }
    }

    &-6 {
      &--active {
        transform: rotate(180deg);
        animation-name: spin;
        animation-duration: 1s;
      }
    }
  }
  &__answer {
    display: none;

    &--active {
      display: flex;
      margin-top: -10px;
      margin-right: 30px;
      margin-bottom: 0;
      margin-left: 30px;
      padding-bottom: 30px;
      font-weight: 400;
      font-size: 20px;
      color: #262626;
    }
  }
}
