.footer {
  background-color: #0B0D17;

  .container {
    padding-bottom: 65px;
  }

  &__title {
    font-size: 40px;
    font-weight: 900;
    color: #FFFFFF;
    text-align: center;
    margin-top: 0;
    padding-top: 70px;
  }

  &__text {
    color: #FFFFFF;
    max-width: 750px;
    text-align: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    font-weight: 400;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  &__button {
    position: relative;
    margin-bottom: 15px;
    padding: 15px 70px 15px 45px;
    font-weight: 500;
    font-size: 20px;
    color: #201D54;
    background-color: #FFFFFF;
    border-radius: 100px;
    border: none;
    display: flex;
    margin-left: auto;
    margin-right: auto;

    &:hover {
      color: #2B276F;
    }

    &:active {
      color: #605D93;
    }

    &::after {
      content: url("../img/icons/button-arrow-black.svg");
      position: absolute;
      top: 17px;
      right: 38px;
      width: 22px;
      height: 22px;
      fill: #201D54;
    }
  }
}
