.lottery {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 75px;
  margin-right: auto;
  margin-left: auto;
  background: url("../img/content-images/lottery.jpg");
  background-color: #F8F8F8;
  background-color: #FFD610;
  background-repeat: no-repeat;
  background-size: cover;

  @media(min-width: 768px) {
    background: #FFFFFF;
  }

  &__title {
    margin-top: 0;
    margin-right: 30px;
    margin-left: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    font-size: 24px;
    text-align: center;
    text-align: left;

    @media(min-width: 768px) {
      font-size: 36px;
      text-align: center;
    }

    @media (min-width: 1024px) {
      margin-right: 95px;
      margin-left: 90px;
      padding-top: 0;
      text-align: left;
    }

    &--extrabold {
      font-weight: 900;
    }
  }

  &__img {
    width: 30%;
    height: auto;

    @media(min-width: 1024px) {
      width: 722px;
      height: 320px;
    }
  }
}
