.lottery {
  width: 100%;
  margin-top: 75px;
  background-color: #F8F8F8;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 1024px) {
    display: flex;
    align-items: center;
  }

  &__title {
    font-weight: 700;
    font-size: 36px;
    padding-top: 50px;
    text-align: center;
    margin-right: 30px;
    margin-left: 30px;

    @media (min-width: 1024px) {
      padding-top: 0;
      text-align: left;
      margin-right: 95px;
      margin-left: 90px;
    }

    &--extrabold {
      font-weight: 900;
    }
  }

  &__img {
    width: 100%;
    height: auto;

    @media(min-width: 1024px) {
      width: 722px;
      height: 320px;
    }
  }
}
