.popup {
  position: fixed;
  top: calc(50% - 176px);
  left: calc(50% - 317px);
  z-index: 4;
  display: none;
  max-width: 615px;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
  padding-top: 50px;
  background-color: #FFFFFF;
  border-radius: 10px;

  &--active {
    display: block;
  }

  &__close {
    content: urL('../img/icons/close.svg');
    position: absolute;
    top: 15px;
    right: 15px;
    width: 14px;
    height: 14px;
    cursor: pointer;
  }

  &__title {
    z-index: 4;
    margin-top: 0;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    color: #262626;
  }

  &__form {
    z-index: 4;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
  }

  &__input {
    z-index: 4;
    width: 100%;
    height: 45px;
    margin-bottom: 22px;
    padding-left: 12px;
    border: 1px solid #C7C7C7;
    border-radius: 5px;

    &::placeholder {
      font-weight: 400;
      font-size: 16px;
      color: #C7C7C7;
    }
  }

  &__button {
    z-index: 4;
    width: 100%;
    height: 55px;
    margin-top: 16px;
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #201D54;
    border: none;
    border-radius: 30px;
  }
}
