.promo {
  background-color: #F9F9F9;

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 130px;
    padding-bottom: 130px;
  }

  &__text-block {
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
    text-align: center;

    @media(min-width: 1024px) {
      margin-right: 0;
      margin-bottom: 0;
      margin-left: 0;
      text-align: left;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 22px;
    font-weight: 900;
    font-size: 40px;
    text-transform: uppercase;
    background: linear-gradient(90deg, #E30D42 1%, #444242 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @media (min-width: 1024px) {
      background: linear-gradient(90deg, #E30D42 1%, #444242 20%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

  }

  &__text {
    max-width: 525px;
    margin-top: 0;
    margin-bottom: 55px;
  }

  &__button {
    position: relative;
    padding: 15px 70px 15px 45px;
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #201D54;
    border: none;
    border-radius: 100px;

    &::after {
      content: url("../img/icons/button-arrow.svg");
      position: absolute;
      top: 17px;
      right: 38px;
      width: 22px;
      height: 22px;
    }
  }

  &__img-wrapper {
    position: relative;
    z-index: 2;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    text-align: center;

    &::before {

      @media (min-width: 1024px) {
        content: '';
        position: absolute;
        top: -48.5px;
        left: -28.5px;
        z-index: -1;
        width: 355px;
        height: 355px;
        background-color: #FFD610;
        border-radius: 100%;
      }
    }

    &::after {

      @media (min-width: 1024px) {
        content: '';
        position: absolute;
        top: -48.5px;
        right: -33px;
        z-index: -1;
        width: 355px;
        height: 355px;
        background-color: #F7EBB3;
        border-radius: 100%;
      }
    }
  }

  &__img {
    z-index: 2;
    width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    text-align: center;

    border-radius: 10px;
    box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.1);



    @media (min-width: 1024px) {
      width: 402px;
      height: 256px;
      border-radius: 15px;
    }
  }
}
