.soon {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;

  .flex {
    display: flex;
    align-items: center;
  }

  &__item {
    width: 555px;
    height: 480px;
    background-color: #F8F8F8;
    border-radius: 10px;
    border-radius: 15px;
  }

  &__img {
    width: 555px;
    height: 270px;
    border-radius: 15px;
    object-fit: fill;
  }

  &__text-block {
    margin-left: 30px;
  }

  &__title {
    font-size: 33px;
    font-weight: 900;
    color: #262626;
    margin-top: 30px;
    margin-bottom: 25px;

  }

  &__icon {

  }

  &__text {
    margin-top: 30px;
    font-weight: 400;
    font-size: 20px;
    color: #262626;
    margin-right: 50px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 15px;
  }
}
