@font-face {
  font-weight: 400;
  font-family: "Cera Pro";
  font-style: normal;
  src: url("../fonts/CeraPro-Regular.woff2") format("woff2"), url("../fonts/CeraPro-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-weight: 500;
  font-family: "Cera Pro";
  font-style: normal;
  src: url("../fonts/CeraPro-Medium.woff2") format("woff2"), url("../fonts/CeraPro-Medium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-weight: 700;
  font-family: "Cera Pro";
  font-style: normal;
  src: url("../fonts/CeraPro-Bold.woff2") format("woff2"), url("../fonts/CeraPro-Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-weight: 900;
  font-family: "Cera Pro";
  font-style: normal;
  src: url("../fonts/CeraPro-Black.woff2") format("woff2"), url("../fonts/CeraPro-Black.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-weight: 400;
  font-family: "Cera Pro";
  font-style: normal;
  src: url("../../fonts/CeraPro-Regular.woff") format("woff2"), url("../../fonts/R") format("woff");
  font-display: swap;
}
