.index-page {
  font-family: "Cera Pro", sans-serif;

  &--popup-open {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.73);
      z-index: 3;
    }
  }

  &__footer {

  }
}
